body {
  background-color:rgb(42, 39, 39);
  }
  h2 {
    color: rgb(51, 48, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  p {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.information {
  color: rgb(42, 39, 39);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 
}

  h3 {
      color:rgb(27, 26, 26);
      font-family: fantasy
 
   footer {
     background-color:rgb(29, 27, 27);
   }
   .flex-container {
    display: flex;
    flex-direction: column;
  }
  
  h6 {
    background-position: left;
    color: black;
  }
.flex-container{
  background-color: brown;
}

h2{
  font-family: fantasy;
}
h4 {
  font-family: fantasy;
}
h1{
  font-family: fantasy;
}
   
